---
import Layout from "../../components/Layout";
---

<html>
    <head lang="ja">
        <title>コーヒーを追加</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>新しいコーヒーを追加</h1>
        <Layout client:only="react" />
    </body>
</html>
