---
import MemoForm from '../components/MemoForm.tsx';
---
<html>
  <head>
		<meta charset="UTF-8">  <!-- ここを確認 -->
		<title>Googleマップメモアプリ</title>
	</head>
  <body>
    <h1>メモを追加</h1>
    <MemoForm client:load />
  </body>
</html>