---
import Navbar from "../components/Navbar";
---

<html lang="ja">
	<head>
		<title>コーヒーノート</title>
		<meta charset="UTF-8" />
	</head>
	<body>
		<h1>コーヒーノートへようこそ</h1>
		<p>コーヒーの情報を記録して、最高の一杯を見つけましょう！</p>
		<Navbar />
	</body>
</html>
