---
---

<html>
	<head>
		<meta charset="UTF-8">  <!-- ここを確認 -->
		<title>Googleマップメモアプリ</title>
	</head>
  <body>
    <h1>Googleマップ保存済みリスト + メモ管理</h1>
    <p>Googleマップで保存した場所にメモを追加できます。</p>
    <a href="/saved-places">保存済みリストへ</a>
	<a href="/add-place">場所を追加</a>
  </body>
</html>