---
import PlaceList from '../components/PlaceList.tsx';
---
<html>
  <head>
		<meta charset="UTF-8">  <!-- ここを確認 -->
		<title>Googleマップメモアプリ</title>
	</head>
  <body>
    <h1>保存済みの場所</h1>
    <PlaceList client:load />
  </body>
</html>